body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

#user-info {
    margin-bottom: 20px;
}

#user-info p {
    margin: 5px 0;
}

#notasTable {
    width: 100%;
    border-collapse: collapse;
}

#notasTable th, #notasTable td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#notasTable th {
    background-color: #f2f2f2;
    text-align: left;
}

#notasTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#notasTable tbody tr:hover {
    background-color: #f0f0f0;
}
